.page-placeholder {
text-align: center;
margin-top: 4.9vw;
  min-height: 100vh; /* ✅ Full viewport height */
     /* background-color: #c12929; */
}

.page-placeholder {
  min-height: 100vh; /* Full height of the viewport */
  display: flex;
  flex-direction: column;
}

.page-placeholder > *:last-child {
  margin-top: auto; /* Push the footer to the bottom */
}


/* nnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnn */


/* Basic styling for the content within the page */
.page-placeholder h1 {
 
 
  font-size: 2.5em;
  margin-bottom: 20px;
}

.page-placeholder p {

  font-size: 1.1em;
text-align: left    ;
}
.AboutP{ 
  max-width: 80%;
  margin-left: auto;
    margin-right: auto;
  line-height: 1.6;
}