.footer {
  /* background-color: #e3e1de; */
  color: #2d2d2d;
  margin-top: auto;
  padding: 1.5rem 0;
 margin-top: auto;
  text-align: center;
}

.footer-container {
  max-width: 90%;
  margin: 0 auto;
  padding: 0 1rem;
  width: 100%;
  flex-direction: row;
  
}

.footer-left {
display: flex;
 
  justify-content: center;

}

.footer-links {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
}

.footer-links a button {
  background: none;
  border: none;
  cursor: pointer;
  font: inherit;
  color: inherit;
  padding: 0;
  transition: color 0.3s ease;
}

.footer-links a button:hover {
  color: #ef4444; /* Tailwind red-500 */
}




@media (min-width: 768px) {
  .footer-container {
    flex-direction: row;
  }

  .footer-left {
    margin-bottom: 0;
    text-align: left;
  }
}
