
.app-container {
  font-family: sans-serif;
}

.main-nav {
  background-color: #2c2c2c;
  padding: 1rem;
  height: 2.74vw;
  min-width: 100vw;
  width: 100%;
  text-align: center;
  position: fixed;
  top: 0px;
  z-index: 4;


}

.nav-button {
  position: relative;
  left: 30vw;
  top: 0.9vw;
  text-decoration: none;
  background: none;
  border: none;
  color: white;
  margin: 0 1vw;
  font-size: 1.1vw;
  cursor: pointer;
  padding: 0.5vw 1vw;
  border-radius: 1vw;
  transition: background-color 1s, color 1s;
}

.nav-button:hover {
  background-color: #555;
}

.nav-button.active {
  background-color: #ef4444;
  color: white;
  font-weight: bold;
}


.company-logo {
  position: absolute;
  top: -1vw;
  color: white;
  font-size: 32px;
  font-weight: bold;
  padding: 16px;
  border-radius: 8px;

}

.log_image {
  height: 4.5vw;
}